
colorama==0.4.6
discord.py==2.5.2
python-dotenv==1.0.1
rarfile==4.2
requests==2.32.3
termcolor==2.5.0
beautifulsoup4
python-dateutil
requests
selenium
unzip
webdriver-manager
rarfile
termcolor
rarfile
rarfile
termcolor
rarfile
termcolor
rarfile
termcolor
rarfile
termcolor
rarfile
termcolor
rarfile
termcolor
rarfile
termcolor
rarfile
termcolor
aiohttp
asyncio
orjson
